.topbar {
  width: 100%;
  height: 50px;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbar .t-wrapper {
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.topbar .t-wrapper .t-left .logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topbar .t-wrapper .t-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.topbar .t-wrapper .t-right .t-iconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topbar .t-wrapper .t-right .t-iconContainer .t-iconBadge {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 10px;
}

.topbar .t-wrapper .t-right .topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

