.sidebar {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #fbfbff;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.sidebar .s-wrapper {
  color: #555;
  padding: 20px;
}

.sidebar .s-wrapper .s-menu {
  margin-bottom: 10px;
}

.sidebar .s-wrapper .s-menu .s-title {
  font-size: 13px;
  color: #c5c2c2;
}

.sidebar .s-wrapper .s-menu .s-list {
  list-style: none;
  padding: 5px;
}

.sidebar .s-wrapper .s-menu .s-list .s-listItem {
  padding: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar .s-wrapper .s-menu .s-list .s-listItem.active,
.sidebar .s-wrapper .s-menu .s-list .s-listItem:hover {
  background: #f0f0ff;
}

.sidebar .s-wrapper .s-menu .s-list .s-listItem .s-icon {
  margin-right: 5px;
  font-size: 20px;
}
